@charset "utf-8";
@import "core/_mixin";
@import "modules/_postEntry";

/*-----------------------------------------------
 __editor-style
-----------------------------------------------*/
$base_font__color: #444;

html .mceContentBody {
    max-width:820px;
    max-width:calc(1024px - 19.296%);
    line-height: 1.75;
    padding: 0 0 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    margin-left: 10px;
    font-size: 16px;
    font-size: 1rem;
}
* {
    color: #000;
    word-wrap : break-word;
    overflow-wrap : break-word;
    font-weight: normal;
    font-family:Avenir, Verdana, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Roboto, Meiryo, sans-serif;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    color: $base_font__color;
    text-align: justify;
    margin: 0;
    padding: 0;

}

html {
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


html .mceContentBody {
    @extend %postEntry;
}

.wp-caption {background: #f1f1f1;line-height: 18px;margin-bottom: 20px;padding: 0;text-align: center;height: auto;max-width: 660px;width: auto;
    -webkit-border-radius: none;-moz-border-radius: none;border-radius: none;border: none;}
    .wp-caption img  {margin: 0;}
    .wp-caption p.wp-caption-text  {color: #888;font-size: 93%;margin: 0;padding: 5px 0;}

    .wp-caption-dd {font-size: 93%;padding: 5px 0;}

    .wp-smiley {
        margin:0;
    }

/****** tinymce *******/
a .mceIcon, .mceAction {
  font-family: dashicons !important;
}

@media screen and (-webkit-min-device-pixel-ratio : 0 ) {
  a .mceIcon:before { vertical-align: text-bottom; }
}
