.md_modal__contents {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
  background: #eee;
  z-index: 999;
  -webkit-transform-origin: 50vw 50vh;
          transform-origin: 50vw 50vh;
}

.md_modal__contents.open {
  opacity: 1;
  visibility: visible;
  -webkit-animation: morfing_imgIn 0.1s 0.8s cubic-bezier(0.77, 0, 0.175, 1);
          animation: morfing_imgIn 0.1s 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.md_modal__bg:before {
  content: '';
  position: fixed;
  top: 0;
  right: -110%;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9998;
}

.md_modal__bg:after {
  content: '';
  position: fixed;
  top: 0;
  right: -110%;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999;
}

.md_modal__bg.open {
  opacity: 1;
  visibility: visible;
}

.md_modal__bg.open:before {
  -webkit-animation: morfing_scaleIn 0.4s cubic-bezier(0.77, 0, 0.175, 1), morfing_imgOut 0.5s 0.8s cubic-bezier(0.77, 0, 0.175, 1);
          animation: morfing_scaleIn 0.4s cubic-bezier(0.77, 0, 0.175, 1), morfing_imgOut 0.5s 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.md_modal__bg.open:after {
  -webkit-animation: morfing_scaleInOut 1.2s 0.2s cubic-bezier(0.77, 0, 0.175, 1);
          animation: morfing_scaleInOut 1.2s 0.2s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.md_modal__bg.close {
  -webkit-animation: morfing_scaleOut .6s linear;
          animation: morfing_scaleOut .6s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes morfing_scaleIn {
  0% {
    right: -110%;
  }
  100% {
    right: 0%;
  }
}

@keyframes morfing_scaleIn {
  0% {
    right: -110%;
  }
  100% {
    right: 0%;
  }
}

@-webkit-keyframes morfing_scaleInOut {
  0% {
    right: -110%;
  }
  100% {
    right: 110%;
  }
}

@keyframes morfing_scaleInOut {
  0% {
    right: -110%;
  }
  100% {
    right: 110%;
  }
}

@-webkit-keyframes morfing_imgOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes morfing_imgOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes morfing_imgIn {
  0% {
    right: -110%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes morfing_imgIn {
  0% {
    right: -110%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
    visibility: visible;
  }
}

.md_modal__close {
  position: fixed;
  z-index: 10000;
  width: 48px;
  height: 48px;
  background: #000;
  z-index: 10000;
  right: 20px;
  top: 20px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

.md_modal__close span {
  width: 50%;
  height: 2px;
  background: #fff;
  display: block;
  margin: 0 auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 23px;
}

.md_modal__close span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: -2px;
}

.md_modal__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.md_modal__nav ul li {
  padding: 0 0 2em 0;
}

.md_modal__nav ul li a {
  text-decoration: none;
  color: #444;
  display: block;
  line-height: 1;
  white-space: nowrap;
  padding: .5em 1em;
  border-bottom: 3px solid #ccc;
}

.md_modal__navLogo {
  width: 50%;
  padding-bottom: 40px;
}

.md_modal__navLogo img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/*# sourceMappingURL=../maps/modules/modal_morphing.css.map */
